<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>FruitStore - La mejor fruteria de la Web</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <header></header>
    <nav>
        <a href="~/Jirafa">Principal</a>

        
        @{
            if (User.IsInRole("Administrador")){
                <a href="~/Jirafa/Categorias">Administrar Categorias</a>
            }
        }
        
        <a href="~/Jirafa/Productos">Administrar Productos</a>
        
    </nav>
    <main>
       @*  <p>Bienvenido @User.Identity?.Name (@User.Claims.FirstOrDefault(x=> x.Type=="Carrera")?.Value)</p> *@
        @RenderBody()
    </main>
</body>
</html>
