@model FruitStore.Models.Entities.Categorias;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Agregar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}




<form action="~/Jirafa/Categorias/Agregar" method="post">
    <div>
        <h1>Agregar Categoría</h1>

        <label>Nombre:</label>
        <input type="text" id="txtNombre" required="required" asp-for="Nombre"/>

        <div class="botones">
            <p id="error">@Html.ValidationSummary(true)</p>
            <input type="submit" value="Agregar" id="btnAgregar" />
            <a href="~/Jirafa/Categorias">
                <input type="button" value="Cancelar" id="btnCancelar" />
            </a>
        </div>
    </div>
</form>