@model FruitStore.Models.Entities.Categorias;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<form method="post" action="~/Jirafa/Categorias/Eliminar">
    <div>
        <input hidden asp-for="Id"/>
        <h1>Eliminar Categoría</h1>

        <p>¿Está seguro de eliminar la categoría "@Model.Nombre"?</p>

        <div class="botones">
            <p id="error">@Html.ValidationSummary(true)</p>
            <input type="submit" value="Si" id="btnSi" />
            <a href="~/Jirafa/Categorias">
                <input type="button" value="No" id="btnNo" />
            </a>
        </div>
    </div>
</form>
